{%extends './base.html'%}

{% block title %} GROUP TOURS APP {% endblock %}


{% block body %}
    <div class="d-flex align-items-center">
        <a href="/rol" class="btn go-back-btn text-center d-flex justify-content-center align-items-center" title="Volver atrás">
            <i class="fa fa-arrow-left fa-lg"></i>
        </a>
        <h1 class="title pt-2">EDITAR ROL</h1>
    </div>

    <input id="eliminacionExitosa" name="eliminacionExitosa" type="hidden" value="{{eliminacionExitosa}}">

    <input id="menu-activo" name="menu-activo" type="hidden" value="{{menu_activo}}">
    <!-- <h4 id="email">{{email}}</h4> -->
	<!--<h4>Permisos sobre "Permiso": &nbsp;
		{% if permisosPorPantalla == None %}
			Niguno
		{% else %}
			{% for p in permisosPorPantalla %}
				{{p}}
			{% endfor %}
		{% endif %}
	</h4>-->
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Registrar Rol
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card">
                            <div class="card-body">
                                
                                <form class="formulario" id='form-rol' action='/rol/editar/{{rol.id}}' method="POST"> {% csrf_token %}
                                    <div class="formulario-campos">
                                        <div class="form-group py-2">

                                            <input type="text" id="txtNombrePermiso" name='txtNombre' 
                                                class="form-control" placeholder="Nombre del Rol" 
                                                maxlength="50" value="{{rol.nombre}}" required>
                                        </div>
                                        
                                        <div class="form-group py-2">
                                            <input type="text" id="txtDescripcionPermiso" name='txtDescripcion' 
                                                class="form-control" placeholder="Descripcion" 
                                                value="{{rol.descripcion}}" required> 
                                               
                                        </div>

                                        
                                        <div class="permisos-list">
                                            <div class="permisos-list-item">
                                                <div class="form-group py-2">
                                                    <select class="selectpicker border rounded" data-live-search="true" name="txtPermisos"
                                                         data-width="100%" multiple required 
                                                         data-actions-box="true" data-none-selected-text="Seleccione los permisos"
                                                         data-select-all-text="Marcar todos" data-deselect-all-text="Quitar todos">
                                                         
                                                        {% for p in  permisosDelRol%}
                                                            
                                                                {% if p.selected == 'si' %}
                                                                    <option class="options-permisos" data-tokens="{{p.permiso.id}}" selected value="{{p.permiso.id}}">{{p.permiso.nombre}}</option>
                                                                {% else %}
                                                                    <option class="options-permisos" data-tokens="{{p.permiso.id}}" value="{{p.permiso.id}}">{{p.permiso.nombre}}</option>
                                                                {% endif %}
                                                                
                                                        {% endfor %}
                                                    </select>

                                                    <!-- <select class="form-select" multiple aria-label="multiple select example"
                                                                name="txtPermisos" required>
                                                    
                                                        <option data-tokens="" value="" selected disabled>Seleccione el permiso</option>

                                                        {% for permiso in listaPermisos %}
                                                            <option data-tokens="{{permiso.id}}" value="{{permiso.id}}">{{permiso.nombre}}</option>
                                                        {% endfor %}
                                                    </select> -->
                                                </div>

                                                <!-- <button type="button" onclick="agregarPermisoSelect()"
                                                    class="agregar-permiso btn btn-primary"><i class="fa fa-plus"></i></button> -->
                                            </div>
                                        </div>
                
                                        <!--
                                        <div class="form-group py-2">
                                            <input type="text" id="txtFormulario" name='txtFormulario' 
                                                class="form-control" placeholder="Formulario" 
                                                required>
                                        </div>-->
                                    </div>
            
                                    <div class="formulario-guardar form-group pt-4 px-5">
                                        <button type="submit" class="btn btn-success btn-block text-white btnGuardarPermiso">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
 
              </div>

		
		</div>
    </div>
{% endblock%}

