{%extends './base.html'%}

{% block title %} GROUP TOURS APP {% endblock %}


{% block body %}
<h1 class="pt-2">MODULO PERMISOS</h1>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>


{% if operacion == 'editar' or operacion == 'agregar' %}
<div class="alert alert-{{tipo}} alert-dismissible fade show" role="alert">
    <div class="d-flex align-items-center">
        
        <!-- <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>     -->
        
        {% if tipo == 'success' %}
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        {% elif tipo == 'warning'%}
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        {% elif tipo == 'danger'%}
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        {% endif %}

        <div>
            {{mensaje}}
        </div>
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
    

    <input id="eliminacionExitosa" name="eliminacionExitosa" type="hidden" value="{{eliminacionExitosa}}">

    <!-- ESTE INPUT ES NECESARIO PARA MARCA UN ITEM ACTIVO EN EL SIDE-BAR'menu_activo': 'permiso'-->
    <input id="menu-activo" name="menu-activo" type="hidden" value="{{menu_activo}}">

	<!--<h4>Permisos sobre "Permiso": &nbsp;
		{% if permisosPorPantalla == None %}
			Niguno
		{% else %}
			{% for p in permisosPorPantalla %}
				{{p}}
			{% endfor %}
		{% endif %}
	</h4>-->
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Registrar Permiso
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card">
                            <div class="card-body">
                                
                                <form class="formulario" id='url' action='/permiso/registrarPermiso' method="POST"> {% csrf_token%}
                                    <div class="formulario-campos">
                                        <div class="form-group py-2">

                                            <input type="text" id="txtNombrePermiso" name='txtNombre' 
                                                class="form-control" placeholder="Nombre del Permiso" 
                                                maxlength="50" required >
                                        </div>
                                        <div class="form-group py-2">
                                            <!--<input type="text" id="txtTipoPermiso" name='txtTipo' 
                                                class="form-control" placeholder="Tipo: C-R-U-D" 
                                                required>-->
                                                <select class="form-select select-tipo" aria-label="Default select example"
                                                    name="txtTipo" required>
                                                    <option selected disabled value="">Selecciona el tipo</option>
                                                    <option value="C">Creacion</option>
                                                    <option value="R">Lectura</option>
                                                    <option value="U">Modificacion</option>
                                                    <option value="D">Eliminacion</option>
                                                  </select>
                                        </div>
                                        <div class="form-group py-2">
                                            <input type="text" id="txtDescripcionPermiso" name='txtDescripcion' 
                                                class="form-control" placeholder="Descripcion" 
                                                required> 
                                               
                                        </div>
                
                                        <div class="form-group py-2">
                                            <!--<ul class="navbar-nav"> 
                                                <li class="nav-item dropdown"> 
                                                    <a id='btnDropdown' style="width: 200px;" class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Lista de formularios
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                                        style="position: absolute; top: 100px;" > 
                                                        {% for formulario in formularios %}
                                                            <a class="dropdown-item"
                                                                href='javascript:cambiarValorDropdown("{{formulario}}")'>{{formulario}}</a> 
                                                            
                                                        {% endfor %}
                                                    </div> 
                                                </li>
                                            </ul>-->
                                            <select class="form-select select-pantalla" aria-label="Default select example" 
                                            name="txtFormulario" required>
                                                <option selected disabled value="">Selecciona el formulario</option>
                                                <option value="Paquetes">Paquetes</option>
                                                <option value="Usuarios">Usuarios</option>
                                                <option value="Pasajeros">Pasajeros</option>
                                                <option value="Roles">Roles</option>
                                                <option value="Permisos">Permisos</option>
                                                <option value="Compras">Compras</option>
                                                <option value="Ventas">Ventas</option>
                                                <option value="Documentos">Documentos</option>
                                              </select>
                                        </div>
                
                                        <!--
                                        <div class="form-group py-2">
                                            <input type="text" id="txtFormulario" name='txtFormulario' 
                                                class="form-control" placeholder="Formulario" 
                                                required>
                                        </div>-->
                                    </div>
            
                                    <div class="formulario-guardar form-group pt-4 px-5">
                                        <button type="submit" class="btn btn-success btn-block text-white btnGuardarPermiso">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
 
              </div>

		
		</div>

        
		<div id="divListadoPermiso" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="d-flex justify-content-between align-items-center">
            <h2 class="mt-4 text-dark">Listado de permisos</h2>

                <form class="formulario-buscar mt-3" action="/permiso/buscar/" method="GET">
                    <div class="input-group">
                        <div class="form-outline" data-mdb-input-init>
                            <input id="search-focus" name="q" type="search" id="form1" class="form-control" placeholder="Buscar..." required/>
                            <!-- <label class="form-label" for="form1">Search</label> -->
                        </div>
                        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
			<div class="table-responsive py-2">
				<table class='table table-striped'>
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<!-- <th>id</th> -->
							<th>Descripcion</th>
							<th>Formulario</th>
							<th class="text-center" colspan="2">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for p in page %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{p.nombre}} - {{p.id}}</td>

                            {% if p.tipo == 'R' %}
                                <td>Lectura</td>
                            {% elif p.tipo == 'C' %}
                                <td>Creacion</td>
                            {% elif p.tipo == 'U' %}
                                <td>Modificacion</td>
                            {% else %}
                                <td>Eliminacion</td>
                            {% endif %}

							<!-- <td>{{p.idPermiso}}</td> -->
							<td>{{p.descripcion}}</td>
							<td>{{p.formulario}}</td>
							<td class="text-end"><a href="/permiso/edicionPermiso/{{p.id}}" class="btn btn-info btnEditarPermiso hover-text">
                                <i class="fa fa-edit"></i>
                                <span class="tooltip-text" id="left">Editar</span>
                            </a></td>
							<!-- <td><a id="enlace-eliminacion-{{p.id}}" href="/permiso/eliminar/{{p.id}}" class="btn btn-danger 
								btnEliminarPermiso btnEliminacion">
                                <i class="fa fa-trash-o"></i>
                            </a></td> -->
							<td><a id="enlace-eliminacion" href="javascript:eliminar('permiso/eliminar', {{p.id}})" class="btn btn-danger hover-text 
								btnEliminarPermiso btnEliminacion">
                                <i class="fa fa-close"></i>
                                <span class="tooltip-text" id="left">Desactivar</span>
                            </a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

                {% include "paginator.html" %} 

			</div>
		</div>
    </div>    
{% endblock%}

