{%extends './base.html'%}

{% block title %} GROUP TOURS APP {% endblock %}


{% block body %}
<h1 class="pt-2">MODULO ROLES</h1>
    <h4 id="email">{{email}}</h4>
	<!--<h4>Permisos sobre "Permiso": &nbsp;
		{% if permisosPorPantalla == None %}
			Niguno
		{% else %}
			{% for p in permisosPorPantalla %}
				{{p}}
			{% endfor %}
		{% endif %}
	</h4>-->
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Registrar Rol
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card">
                            <div class="card-body">
                                
                                <form class="formulario" id='form-rol' action='/rol/agregar' method="POST"> {% csrf_token%}
                                    <div class="formulario-campos">
                                        <div class="form-group py-2">

                                            <input type="text" id="txtNombrePermiso" name='txtNombre' 
                                                class="form-control" placeholder="Nombre del Permiso" 
                                                maxlength="50" required>
                                        </div>
                                        
                                        <div class="form-group py-2">
                                            <input type="text" id="txtDescripcionPermiso" name='txtDescripcion' 
                                                class="form-control" placeholder="Descripcion" 
                                                required> 
                                               
                                        </div>
                
                                        <div class="form-group py-2">
                                            <!--<ul class="navbar-nav"> 
                                                <li class="nav-item dropdown"> 
                                                    <a id='btnDropdown' style="width: 200px;" class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Lista de formularios
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                                        style="position: absolute; top: 100px;" > 
                                                        {% for formulario in formularios %}
                                                            <a class="dropdown-item"
                                                                href='javascript:cambiarValorDropdown("{{formulario}}")'>{{formulario}}</a> 
                                                            
                                                        {% endfor %}
                                                    </div> 
                                                </li>
                                            </ul>-->
                                            <select class="form-select select-pantalla" aria-label="Default select example" 
                                            name="txtFormulario" required>
                                                <option selected disabled value="">Selecciona el formulario</option>
                                                <option value="Paquetes">Paquetes</option>
                                                <option value="Usuarios">Usuarios</option>
                                                <option value="Pasajeros">Pasajeros</option>
                                                <option value="Roles">Roles</option>
                                                <option value="Permisos">Permisos</option>
                                                <option value="Compras">Compras</option>
                                                <option value="Ventas">Ventas</option>
                                                <option value="Documentos">Documentos</option>
                                              </select>
                                        </div>
                
                                        <!--
                                        <div class="form-group py-2">
                                            <input type="text" id="txtFormulario" name='txtFormulario' 
                                                class="form-control" placeholder="Formulario" 
                                                required>
                                        </div>-->
                                    </div>
            
                                    <div class="formulario-guardar form-group pt-4 px-5">
                                        <button type="submit" class="btn btn-success btn-block text-white btnGuardarPermiso">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
 
              </div>

		
		</div>

        
		<div id="divListadoPermiso" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h3>Listado de permisos</h3>
			<div class="table-responsive py-2">
				<table class='table table-striped'>
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<!-- <th>id</th> -->
							<th>Descripcion</th>
							<th>Formulario</th>
							<th class="text-center" colspan="2">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for p in listaRoles %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{p.nombre}}</td>

							<!-- <td>{{p.idPermiso}}</td> -->
							<td>{{p.descripcion}}</td>
							<td>{{p.permisos}}</td>
							<td class="text-end"><a href="/edicionPermiso/{{email}}/{{p.idPermiso}}" class="btn btn-info btnEditarPermiso">
                                <i class="fa fa-edit"></i>
                            </a></td>
							<td><a href="/rol/eliminar/{{p.id}}" class="btn btn-danger 
								btnEliminarPermiso btnEliminacion">
                                <i class="fa fa-trash-o"></i>
                            </a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>    
{% endblock%}

