/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");:root{--header-height: 3rem;--nav-width: 68px;--first-color: #4723D9;--first-color-light: #AFA5D9;--white-color: #F7F6FB;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem;--z-fixed: 100}*,::before,::after{box-sizing: border-box}body{position: relative;margin: var(--header-height) 0 0 0;padding: 0 1rem;font-family: var(--body-font);font-size: var(--normal-font-size);transition: .5s}a{text-decoration: none}.header{width: 100%;height: var(--header-height);position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color: var(--white-color);z-index: var(--z-fixed);transition: .5s}.header_toggle{color: var(--first-color);font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background-color: var(--first-color);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem}.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}.nav_logo-name{color: var(--white-color);font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}.nav_link:hover{color: var(--white-color)}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: var(--white-color)}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}.height-100{height:100vh}@media screen and (min-width: 768px){body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 2rem)}.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}.header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0;padding: 1rem 1rem 0 0}.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 188px)}} */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.2375rem;
    color: #FFF;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
    background-color: rgb(31 41 55);
}

.navbar{
    background-color: rgb(59 130 246);
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.375rem;
}

a.sidebar-link .material-icons, a.sidebar-link .material-symbols-outlined{
    padding-right: 0.4rem;
}

a.sidebar-link:hover{
    background-color: rgb(55 65 81);
}


.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-dropdown{
    padding-left: 1.4rem;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}

.nav-icon{
    font-size: 1.5rem !important;
}

.activo{
    background-color:  rgb(55 65 81);
    /* margin-right: 0.5rem !important;
    margin-left: 0.5rem !important; */
    border-radius: 0.375rem !important;
}

.formulario{
    display: flex;
    flex-direction: column
}

.formulario-campos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.text-black{
    color: #000;
}

.margin-guardar-boton{
    margin-left: 3.4rem !important;
    transition: margin-left 0.5s ease;
}

.formulario-guardar{
    margin-left: 0;
    transition: margin-left 0.5s ease;
}

.dropdown.bootstrap-select.border.rounded{
    width: 290px !important;
}

.multi-select-list-item{
    display: flex;
    column-gap: 0.5rem;
}

.agregar-permiso{
    margin-top: 0.4rem;
    height: 2.5rem;
}

.accordion-permiso{
    width: 27rem;
}

.permiso-columna-width{
    width: 24%;
}

.dropdown-custom{
    position: absolute;
    z-index: 1;
    background-color: rgb(173, 199, 239);
    width: 28.1%;
}

tr{
    vertical-align: middle;
}

.title{
    margin-left: 1rem;
}
  
  .go-back-btn {
    width: 24px;
    height: 43px;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.2);
    /* color: white; */
    border: none !important;
    padding: 10px 20px !important;
    -webkit-transition: background-color 1s, color 1s, -webkit-transform 0.5s;
       transition: background-color 1s, transform 0.5s;
  }
  
  .go-back-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    -webkit-transform: translateX(-5px);
    -webkit-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
    -moz-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
  }

.disabled-options {
    cursor: not-allowed; /* Cambia el cursor */
    opacity: 0.5; /* Cambia la opacidad */
    pointer-events: none; /* Deshabilita eventos de puntero */
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  .hover-text:hover .tooltip-text {
    visibility: visible;
  }
  
  #top {
    top: -40px;
    left: -50%;
  }
  
  #bottom {
    top: 25px;
    left: -50%;
  }
  
  #left {
    top: -8px;
    right: 120%;
  }
  
  #right {
    top: -8px;
    left: 120%;
  }
  
  .hover-text {
    position: relative;
    display: inline-block;
    /* margin: 40px; */
    font-family: Arial;
    text-align: center;
  }

  .filtro{
    display: flex;
    align-items: center;
    column-gap: 0.65rem;
  }

  .estado{
    border-radius: 50%;
    width: 0.8rem;
    height: 1.5rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  #enlace-eliminacion, .btnEditarPermiso {
    margin: 0px;
    padding: 0px;
    width: 2.65rem;
    padding-top: 5px;
  }